
*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(241, 252, 249);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.aboutDiv {
  padding: 30px;
  /* background: linear-gradient(135deg, rgb(107, 231, 231) 50%, white); */
}

.photo {
  box-shadow: 5px 5px 20px;
  width: 200px;
  border-radius: 15px;
}

.projectsDiv {
  padding: 30px;
}

.projectVideoCard {
  display:flex;
  padding-bottom:10px;
}

a {
  display: inline-block;
    position: relative;
    padding: .8rem 1.6rem;
    font-weight: 700;
    line-height: 1;
    z-index: 1;
    transition: all .6s cubic-bezier(.19,1,.22,1);
    background-color:transparent;
    border-color: black;

}

a:hover {
  background-color:lightgreen;
  background-repeat: no-repeat;
}
