
*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(241, 252, 249);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.aboutDiv {
  padding: 30px;
  background-image: linear-gradient(50deg, rgb(241, 252, 249) 40%, rgb(126, 223, 240) 60%);
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: 10%;        

}


.photo {
  box-shadow: 5px 5px 20px;
  width: 200px;
  border-radius: 15px;
  display: flex;
}

.projectsDiv {
  padding: 30px;
}

.projectVideoCard {
  display:flex;
  padding-bottom:10px;
}

a {
  display: inline-block;
    position: relative;
    padding: .8rem 1.6rem;
    font-weight: 700;
    line-height: 1;
    z-index: 1;
    transition: all .6s cubic-bezier(.19,1,.22,1);
    background-color:transparent;

}

a:hover {
  background-color:lightgreen;
  background-repeat: no-repeat;
  border: solid black;
}

.ProjectVideoCard {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.ProjectVideoCard.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.title {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  padding: 0rem 6rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-align: left;
}

.contactDiv {
  background-image: linear-gradient(135deg, rgb(241, 252, 249) 40%, rgb(126, 223, 240) 60%);
  /* -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%); */
  /* clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%); */
  padding: 5rem 0 5rem 0;
  margin-top: -5rem;
  margin-bottom: -1px;
}